<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.busi.mapper.TDeptMapper">
  <resultMap id="BaseResultMap" type="cn.com.busi.domain.TDept">
    <!--@mbg.generated-->
    <!--@Table t_dept-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="stutas" jdbcType="VARCHAR" property="stutas" />
    <result column="Number" jdbcType="INTEGER" property="number" />
    <result column="opflag" jdbcType="VARCHAR" property="opflag" />
    <result column="opdate" jdbcType="TIMESTAMP" property="opdate" />
  </resultMap>

  <resultMap id="deptJobsListMap" extends="BaseResultMap" type="cn.com.busi.domain.TDept" >
        <collection property="JobsList" columnPrefix="Jobs_" resultMap="cn.com.busi.mapper.TJobsMapper.BaseResultMap"/>
  </resultMap>

  <resultMap id="deptStackListMap" extends="BaseResultMap" type="cn.com.busi.domain.TDept" >
        <collection property="tTasks" columnPrefix="task_" resultMap="cn.com.busi.mapper.TTaskMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, introduction, stutas, `Number`, opflag, opdate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_dept
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_dept
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.busi.domain.TDept">
    <!--@mbg.generated-->
    insert into t_dept (id, `name`, introduction, 
      stutas, `Number`, opflag, 
      opdate)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{stutas,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{opflag,jdbcType=VARCHAR}, 
      #{opdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.busi.domain.TDept">
    <!--@mbg.generated-->
    insert into t_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="stutas != null">
        stutas,
      </if>
      <if test="number != null">
        `Number`,
      </if>
      <if test="opflag != null">
        opflag,
      </if>
      <if test="opdate != null">
        opdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="stutas != null">
        #{stutas,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="opflag != null">
        #{opflag,jdbcType=VARCHAR},
      </if>
      <if test="opdate != null">
        #{opdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.busi.domain.TDept">
    <!--@mbg.generated-->
    update t_dept
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="stutas != null">
        stutas = #{stutas,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        `Number` = #{number,jdbcType=INTEGER},
      </if>
      <if test="opflag != null">
        opflag = #{opflag,jdbcType=VARCHAR},
      </if>
      <if test="opdate != null">
        opdate = #{opdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.busi.domain.TDept">
    <!--@mbg.generated-->
    update t_dept
    set `name` = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      stutas = #{stutas,jdbcType=VARCHAR},
      `Number` = #{number,jdbcType=INTEGER},
      opflag = #{opflag,jdbcType=VARCHAR},
      opdate = #{opdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
   </update>
<!--auto generated by MybatisCodeHelper on 2020-11-30-->
  <select id="findByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_dept
    <where>
        <if test="id != null">
         and id=#{id,jdbcType=VARCHAR}</if>
        <if test="name != null">
         and `name`=#{name,jdbcType=VARCHAR}</if>
        <if test="introduction != null">
         and introduction=#{introduction,jdbcType=VARCHAR}</if>
        <if test="stutas != null">
         and stutas=#{stutas,jdbcType=VARCHAR}</if>
        <if test="number != null">
         and `Number`=#{number,jdbcType=INTEGER}</if>
        <if test="opflag != null">
         and opflag=#{opflag,jdbcType=VARCHAR}</if>
        <if test="opdate != null">
         and opdate=#{opdate,jdbcType=TIMESTAMP}</if>
    </where>
  </select>

  <select id="selectAllDeptAndJobs" resultMap="deptJobsListMap">
    select d.id, d.`name`,j.id Jobs_id, j.`name` Jobs_name
    from t_dept d
    inner join t_jobs j on d.id = j.dept
  </select>

  <select id="countByType" resultMap="deptStackListMap">
    select d.id, d.`name`,count(t.type) task_content,t.type task_type
    from t_dept d
    inner join t_task t on d.id = t.dept
    where t.Audit_status != '0'
    group by d.`name`,t.type
  </select>

  <select id="countByName" resultMap="deptStackListMap">
    select d.id, d.`name`,t.id task_id,t.name task_name,t.progress task_progress
    from t_dept d
    inner join t_task t on d.id = t.dept
    where t.Audit_status != '0'
    group by d.`name`,t.name
  </select>
</mapper>