<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.busi.mapper.TMarqueeMapper">
  <resultMap id="BaseResultMap" type="cn.com.busi.domain.TMarquee">
    <!--@mbg.generated-->
    <!--@Table t_marquee-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, context, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_marquee
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_marquee
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.busi.domain.TMarquee">
    <!--@mbg.generated-->
    insert into t_marquee (id, context, `status`
      )
    values (#{id,jdbcType=VARCHAR}, #{context,jdbcType=LONGVARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.busi.domain.TMarquee">
    <!--@mbg.generated-->
    insert into t_marquee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.busi.domain.TMarquee">
    <!--@mbg.generated-->
    update t_marquee
    <set>
      <if test="context != null">
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.busi.domain.TMarquee">
    <!--@mbg.generated-->
    update t_marquee
    set context = #{context,jdbcType=LONGVARCHAR},
      `status` = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
<!--auto generated by MybatisCodeHelper on 2020-12-31-->
  <select id="findByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_marquee
    <where>
<if test="id != null">
 and id=#{id,jdbcType=VARCHAR}</if>
<if test="context != null">
 and context=#{context,jdbcType=LONGVARCHAR}</if>
<if test="status != null">
 and `status`=#{status,jdbcType=VARCHAR}</if>
    </where>
  </select>
</mapper>