<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.busi.mapper.TPermissionMapper">
  <resultMap id="BaseResultMap" type="cn.com.busi.domain.TPermission">
    <!--@mbg.generated-->
    <!--@Table t_permission-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="route" jdbcType="VARCHAR" property="route" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `desc`, route
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_permission
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_permission
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.busi.domain.TPermission">
    <!--@mbg.generated-->
    insert into t_permission (id, `name`, `desc`, route
      )
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{desc,jdbcType=VARCHAR}, #{route,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.busi.domain.TPermission">
    <!--@mbg.generated-->
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="route != null">
        route,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.busi.domain.TPermission">
    <!--@mbg.generated-->
    update t_permission
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.busi.domain.TPermission">
    <!--@mbg.generated-->
    update t_permission
    set `name` = #{name,jdbcType=CHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      route = #{route,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
<!--auto generated by MybatisCodeHelper on 2020-12-03-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_permission
    <where>
        <if test="id != null">
         and id=#{id,jdbcType=CHAR}</if>
        <if test="name != null">
         and `name`=#{name,jdbcType=CHAR}</if>
        <if test="desc != null">
         and `desc`=#{desc,jdbcType=VARCHAR}</if>
        <if test="route != null">
         and route=#{route,jdbcType=VARCHAR}</if>
    </where>
  </select>
</mapper>